[package]
name = "axdevice"
version = "0.1.0"
edition = "2021"

[features]

[dependencies]
log = "0.4"
cfg-if = "1.0"

# System independent crates provided by ArceOS.
axerrno = "0.1.0"
memory_addr = "0.3"

axvmconfig = { git = "https://github.com/arceos-hypervisor/axvmconfig.git", default-features = false }
axaddrspace = { git = "https://github.com/arceos-hypervisor/axaddrspace.git" }
axdevice_base = { git = "https://github.com/arceos-hypervisor/axdevice_crates.git", branch = "remove_device" }
