[package]
name = "axdevice"
version = "0.1.0"
edition = "2024"

[features]

[dependencies]
log = "0.4"
cfg-if = "1.0"
spin = "0.9"

# System independent crates provided by ArceOS.
axerrno = "0.1.0"
memory_addr = "0.4"

axvmconfig = { version = "0.1", default-features = false }
axaddrspace = "0.1"
axdevice_base = "0.1"
range-alloc = { git = "https://github.com/arceos-hypervisor/range-alloc.git" }

[target.'cfg(target_arch = "aarch64")'.dependencies]
arm_vgic = { version = "0.1", features = ["vgicv3"] }
