name: Check

on:
  workflow_call:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        targets: [x86_64-unknown-linux-gnu, x86_64-unknown-none, riscv64gc-unknown-none-elf, aarch64-unknown-none-softfloat]
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-src, clippy, rustfmt
          targets: ${{ matrix.targets }}

      - name: Check Formatting
        if: ${{ matrix.targets == 'x86_64-unknown-linux-gnu' }}
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo clippy --target ${{ matrix.targets }} --all-features -- -A clippy::new_without_default

      - name: Build
        run: cargo build --target ${{ matrix.targets }} --all-features
