name: Deploy Docs

on:
  push:
    branches: [ master ]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -D rustdoc::broken_intra_doc_links -D missing-docs
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-src

      - name: Build Documentation
        run: cargo doc --no-deps --all-features

      - name: Create index.html
        run: |
          PKG_NAME=$(cargo tree | head -1 | cut -d' ' -f1)
          echo "<meta http-equiv=\"refresh\" content=\"0;url=${PKG_NAME}/index.html\">" > target/doc/index.html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/doc
